tr > th,
tr > td {
	text-align: center;
}

tr > th:nth-of-type(2) {
	padding: 0.25rem 1rem;
	text-align: start;
}
thead,
tr {
	width: 100%;
}

.bulk-view {
	width: 100%;
	font-size: 0.85rem;
}

.bulk-view .bulk-view__card-name {
	display: flex;
	align-items: center;
	text-align: start;
	padding: 0.25rem 1rem;
}

.bulk-view-item:nth-child(odd) {
	background-color: rgb(233, 255, 228);
}

.bulk-view__card-info {
	margin-left: 0.4rem;
}

.bulk-view__image-container {
	height: 2.5rem;
	overflow: hidden;
}

.bulk-view__card-img {
	height: 3.5rem;
}
